<div class='addpage'>

  {{#shirts}}
  <h3>ID: {{id}}</h3>
  <h3>Name: {{designs.name}}</h3>
  <h3>Color: {{colors.color}}</h3>
  <h3>Size: {{sizes.size}}</h3>
  <form action="/admin/product/{{id}}" method="post">
    <table>
      <tbody>
        <tr><td>Image</td><td><img style='width: 10%' src="{{shirtImageUrl.url}}"></td></tr>
        <tr><td>quantity</td><td><input size='40%' type='text' name='quantity'value='{{quantity}}'></td></tr>
        <tr><td>price</td><td><input size='40%' type='text' name='price'value='{{price}}'></td></tr>
        <tr><td>shirt_image_url_id</td><td><input size='40%' type='text' name='shirt_image_url_id'value='{{shirt_image_url_id}}'></td></tr>
        <tr><td>shirtImageUrl.url</td>
          <td>
            {{images}}
            <select name='imageurls'>
              {{#../images}}
              <option {{#equal id ../shirt_image_url_id}}selected='true'{{/equal}} value='{{id}}'>{{url}}</option>
              {{/../images}}
            </select>
          </td>
        </tr>
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
      </tbody>
    </table>
  </form>
  {{/shirts}}

</div>
