<div id='adminpage'>
  <div id='adminmenu'>
    <div class='menuitem' id='adminproducts'>
      Products
    </div>
    <div class='menuitem' id='adminorders'>
      Orders
    </div>
    <div class='menuitem' id='adminusers'>
      Users
    </div>
  </div>
  <div id='admindisplay'>
    <div id='productsshow'>
      <div style="display:block">
        <div style='display: inline-block'>
          <h1>Products</h1>
        </div>
        <div style='display: inline-block; margin-left: 20px'>
          <a class="button blue" href="admin/product/add">Add Product</a>
        </div>
      </div>
      {{#shirts}}
      <div class='shirt'>
      <div class="collapse-button">
        <img height="50px" src="{{shirtImageUrl.url}}">
        <span>ID: {{id}}</span>
        <span>Name: {{designs.name}}</span>
        <span>Color: {{colors.color}}</span>
        <span>Size: {{sizes.size}}</span>
      </div>
      <div class='collapsable'>
        <form action="/admin/product/{{id}}" method="post">
          <table>
            <tbody>
              <tr><td>Image</td><td></td></tr>
              <tr><td>quantity</td><td><input type='text' name='quantity'value='{{quantity}}'></td></tr>
              <tr><td>price</td><td><input type='text' name='price'value='{{price}}'></td></tr>
              <tr><td>shirt_image_url_id</td><td><input type='text' name='shirt_image_url_id'value='{{shirt_image_url_id}}'></td></tr>
              <tr><td>shirtImageUrl.url</td>
                <td><select name='imageurls'>
                  {{#../images}}
                  <option {{#equal id ../shirt_image_url_id}}selected='true'{{/equal}} value='{{id}}'>{{url}}</option>
                  {{/../images}}</select></td></tr>
                  <tr><td></td><td><input type="submit" value="Submit"><a href="/product/{{id}}/delete"><input type="button" value="Delete"></a></td></tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
          {{/shirts}}
        </div>

        <div id='ordersshow'>
          <h1>Orders</h1>
          {{#orders}}
          <h3>Order ID: {{id}}</h3>
          <h3>User ID: {{user_id}}</h3>
          <h3>Created At: {{created_at}}</h3>
          <h3>Updated At: {{updated_at}}</h3>
          <form action="/admin/orders/{{id}}" method="post">
            <table>
              <tbody>
                <tr><td>user_id</td><td><input type='text' value='{{user_id}}' name='user_id'></td></tr>
                <tr><td>address</td><td><input type='text' value='{{address}}' name='address'></td></tr>
                <tr><td>city</td><td><input type='text' value='{{city}}' name='city'></td></tr>
                <tr><td>state</td><td><input type='text' value='{{state}}' name='state'></td></tr>
                <tr><td>zip</td><td><input type='text' value='{{zip}}' name='zip'></td></tr>
                <tr><td>order_status_id</td><td><input type='text' value='{{order_status_id}}' name='order_status_id'></td></tr>
                <tr><td></td><td><input type="submit" value="Submit"><a href="/admin/orders/{{id}}/delete"><input type="button" value="Delete"></a></td></tr>
              </tbody>
            </table>
          </form>
          {{/orders}}
        </div>

        <div id='usersshow'>
          <h1>Users</h1>
          {{#users}}
          <h3>User ID: {{id}}</h3>
          <h3>User Email: {{email}}</h3>
          <form action="/admin/users/{{id}}" method="post">
            <table>
              <tbody>
                <tr><td>fname: {{fname}}</td><td><input type='text' value='{{fname}}' name='fname'></td></tr>
                <tr><td>lname: {{lname}}</td><td><input type='text' value='{{lname}}' name='lname'></td></tr>
                <tr><td>email: </td><td><input type='text' value='{{email}}' name='email'></td></tr>
                <tr><td>admin: </td><td><label>True<input type='radio' name='isadmin' value=true {{#if admin}}checked='checked'{{/if}}></label> <label>False<input type='radio' name='isadmin' value=false {{#unless admin}}checked='checked'{{/unless}}></td></tr>
                  <tr><td></td><td><input type="submit" value="Submit"><a href="/admin/users/{{id}}/delete"><input type="button" value="Delete"></a></td></tr>
                </tbody>
              </table>
            </form>
            {{/users}}
          </div>

        </div>

      </div>
