<div class='checkout'>
  <h1>Checkout</h1>
  <h2>Verify Cart</h2>
  <!-- <table>
    <tbody>
      <tr>
        <th>img</th>
        <th>Design</th>
        <th>Color</th>
        <th>Size</th>
        <th>Qty</th>
      </tr>
      <form action="/cart/update" method="post">
      {{#shirts}}
        <tr id="{{id}}">
          <input type="hidden" name="id" value="{{id}}">
          <td><img width='50' src="{{shirtImageUrl.url}}" alt="{{designs.name}}" /></td>
          <td>{{designs.name}}</td>
          <td>{{colors.color}}</td>
          <td>{{sizes.size}}</td>
          <td><input type="text" name="quantityOrdered" value="{{quantityOrdered}}"></td>
          <td><input type="button" value="Remove"></td>
        </tr>
      {{/shirts}}
    </tbody>
  </table>
      <input type="submit" value="Update">
    </form> -->
  <!-- <p>Total: ${{orderTotal}}</p> -->
  <h2>Shipping and Credit Card Information</h2>
  <form action="/checkout" method="post" id="payment-form">
  <div class='checkout table-container'>{{> cart-table }}</div>
  <form action="/checkout" method="POST" id="payment-form">
    <span class="payment-errors"></span>
    <table>
      <tbody>
        <tr>
          <td>
            <span>Street Address</span>
          </td>
          <td>
            <input type="text" size="20" name='address'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>City</span>
          </td>
          <td>
            <input type="text" size="20" name='city'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>State</span>
          </td>
          <td>
            <select name="state">
              {{#states}}
                <option value="{{this}}">{{this}}</option>
              {{/states}}
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <span>Zip Code</span>
          </td>
          <td>
            <input type="text" size="20" name='zip'/>
          </td>
        </tr>
        <tr>
          <td>
            <span>Card Number</span>
          </td>
          <td>
            <input type="text" size="20" data-stripe="number"/>
          </td>
        </tr>
        <tr>
          <td>
            <span>CVC</span>
          </td>
          <td>
            <input type="text" size="4" data-stripe="cvc"/>
          </td>
        </tr>
        <tr>
          <td>
            <span>Expiration (MM/YYYY)</span>
          </td>
          <td>
            <input type="text" size="2" data-stripe="exp-month"/>
            <span> / </span>
            <input type="text" size="4" data-stripe="exp-year"/>
          </td>
        </tr>
        <tr>
          <td>
            <td>
              <input type="submit">
            </td>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
