<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <header>
    <div class='headerlogo'>
      <a href="/">
        <img style="width:15%" src="/images/logoiconwhite.png" /><img style="width:40%" src="/images/logotype.png" />
      </a>
    </div>

    <div class='headerright'>
      <nav>
        <ul>
          <li><a href="/">Home</li></a>
        </ul>
      </nav>
    </div>

    <div class='headerright'>

      {{#if user.admin}}
      <p>
        <a href="/admin">Admin</a> | <a href="/auth/logout">Logout</a>
      </p>
      {{else}} {{#if user}}
      <p>
        <a href="/users/{{user.id}}">Account</a> | <a href="/auth/logout">Logout</a>
      </p>
      {{else}}
      <p>
        <a href="/login">Login</a> | <a href="/register">Sign Up</a>
      </p>
      {{/if}}
      {{/if}}

    </div>

  </header>

  <div class='clear'>
    <div class='headerlogo'>
      <a href="/">
        <img style="width:15%" src="/images/logoiconwhite.png" />
        <img style="width:40%" src="/images/logotype.png" />
      </a>
    </div>
    <div class='headerright'>
    </div>
  </div>

  <div class='container'>

    {{#if message.error}}
    <ul class='error'>
      {{#message.error}}
      <li>{{this}}</li>
      {{/message.error}}
    </ul>
    {{/if}}
    {{#if message.success}}
    <ul class='success'>
      {{#message.success}}
      <li>{{this}}</li>
      {{/message.success}}
    </ul>
    {{/if}}

    <div class='cart'>
      <table>
        <tbody>
          <p id='cartbutton'>0 Cart</p>
          <tr>
            <td>-</td>
            <td>Item</td>
          </tr>
          <tr>
            <td>-</td>
            <td>Item</td>
          </tr>
          <tr>
            <td>-</td>
            <td>Item</td>
          </tr>
          <tr>
            <td><a href="/checkout">Checkout</a></td>
          </tr>
        </tbody>
      </table>
    </div>



    {{{body}}}
  </div>

  <footer>
    <p>Flight Switch &copy 2016</p><a href="/"><img style='width:5%' src="../images/logoiconwhite.png" alt="" /></a>
  </footer>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="/javascript/main.js" charset="utf-8"></script>

</body>
</html>
