<article class="shirt">
    <img class='shirtimg' src="{{shirt.url}}" />
  <div class="shirtinfo">
    <form class="" action="/shirts/{{shirt.shirts.0.design_id}}/{{shirt.shirts.0.color_id}}" method="post">
      <label>Size: </label>
    <select name="size">
      {{#shirt.sizes}}
      <option value="{{size}}">{{size}}</option>
      {{/shirt.sizes}}
    </select>
    <input type="hidden" name="design_id" value="{{shirt.shirts.0.design_id}}">
    <input type="hidden" name="color_id" value="{{shirt.shirts.0.color_id}}">
    <label>Qty: </label><input id="qty" type="text" name="quantity" value="1">
    ${{shirt.shirts.0.price}} ea
    <br>
    <input type="submit" value="Add to Cart">
  </form>
  </div>
</article>
