<div id='useraccountpage'>

  <h1>Account Details</h1>
  <a href="/users/{{details.id}}/edit"><h3>Edit Account Details</h3></a>

  <table>
    <tbody>
      {{#details}}
      <tr><td><h3>Email</h3></td><td>{{email}}</td></tr>
      <tr><td><h3>First Name</h3></td><td>{{fname}}</td></tr>
      <tr><td><h3>Last Name</h3></td><td>{{lname}}</td></tr>
      {{/details}}
    </tbody>
  </table>

  <h1>Order History</h1>

  {{#unless ordertotal}}
  You have no previous orders.
  {{/unless}}

  {{#ordertotal}}

  <table>
    <tbody>
      <tr><td><h3>Total</h3></td><td> ${{total}}</td></tr>
      <tr><td><h3>Order Date</h3></td><td> {{date}} </td></tr>


      <tr><td><h3>Items<h3></td>

      {{#orderItems}}
      <td>{{$price}} {{quantity}} {{shirt.designs.name}} {{shirt.colors.color}} {{shirt.sizes.size}}</td>
      {{/orderItems}}<tr>

      <tr><td><h3>Address</h3></td>
      <td>{{address}}<br>{{city}} {{state}}<br>{{zip}}</td></tr>

      <tr><td><h3>Order Status</h3></td>
        <td>
          {{#equal order_status_id 1}} Processing {{/equal}}
          {{#equal order_status_id 2}} Shipped {{/equal}}
          {{#equal order_status_id 3}} Refunded {{/equal}}
        </td>
      </tr>
      <tr><td><br></td></tr>

    </tbody>
  </table>

  {{/ordertotal}}

</div>
