<p id='cartbutton'> <i class="fa fa-cart-arrow-down"></i> <span>{{totalItems}}</span></p>
<table>


<tbody>
  <tr>
    <th>img</th>
    <th>Design</th>
    <th>Color</th>
    <th>Size</th>
    <th>Qty</th>
  </tr>
  {{#shirts}}
    <tr id="{{id}}">

      <td><img width='50' src="{{shirtImageUrl.url}}" alt="{{designs.name}}" /></td>
      <td>{{designs.name}}</td>
      <td>{{colors.color}}</td>
      <td>{{sizes.size}}</td>
      <td>{{quantityOrdered}}</td>
    </tr>
  {{/shirts}}
</tbody>
<tr><td><a class='button blue' href="/checkout">Checkout</a></td></tr>
</table>
